::-moz-selection {
  background: #db5a3d;
  text-shadow: none; }

::selection {
  background: #db5a3d;
  text-shadow: none; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #541e3b;
  margin: 0 auto;
  padding: 0px;
  width: 100%; }

header {
  position: absolute;
  max-width: 220px;
  left: 50%;
  top: 50%;
  margin: -140px 0px 0px -110px;
  text-align: center; }
  header img {
    width: 100%;
    border: none;
    max-width: 195px; }
  header ul {
    margin: 10px 0px 0px 0px;
    padding: 0px; }
    header ul li {
      font-size: 18px;
      display: inline-block;
      padding: 2px; }
      header ul li a {
        font-size: 21px;
        line-height: 28px;
        color: #f1d9a4;
        font-family: "Proxima Nova", "Arial";
        text-decoration: none;
        text-transform: lowercase; }
        header ul li a:hover {
          text-decoration: underline; }
